# Black list.

# Files and directories that are not going to be formatted with prettier.

# Node dependencies directory.
node_modules

# Transpiled files directory.
dist

# Postman collection.
*.postman_collection.json